<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EZDRIVE
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WELCOME STUDENT !</ion-title>
    </ion-toolbar>
  </ion-header>
 
<ion-text size="large" color="dark">WELCOME STUDENT !</ion-text>
<img src="assets/gemilang.jpg" >
<br>
<img src="assets/index.jpg" >

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/index">
     <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" routerLink="/schedulestudent">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>SCHEDULE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" routerLink="/accountstudent">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>ACCOUNT</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>