<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">HELLO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
  <div class="ion-padding">

  <ion-text color="dark"><p>WELCOME TO</p></ion-text>
  <img src="assets/gemilang.jpg" >
  <br>
  <br>
  <ion-button color="danger" expand="full" routerLink="/register">REGISTER</ion-button>

  <ion-button color="danger" expand="full" routerLink="/login">LOGIN AS STUDENT</ion-button>

   <ion-button color="danger" expand="full" routerLink="/login-admin">LOGIN AS ADMIN</ion-button>
 </div>
</ion-content>


