<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark">Schedule for student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let schedule of schedules">
    <ion-item class="no-padding">
       <ion-label>
          <h2>Student Name : {{schedule.name}}</h2>
          <h2>Day : {{schedule.day}}</h2>
          <h2>Subject  : {{schedule.subject }}</h2>
          <h2>Venue : {{schedule.venue }}</h2>
          <h2>Conduct by : {{schedule.by }}</h2>
          <h2>Start Time : {{schedule.start }}</h2>
          <h2>End Time : {{schedule.end }}</h2>
          <h2>______________________</h2>
      </ion-label>
    </ion-item>
    </ion-item-sliding>
  </ion-list>
   
 
<ion-item>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/index">
     <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" routerLink="/schedulestudent">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>SCHEDULE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" routerLink="/accountstudent">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>ACCOUNT</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-item>
</ion-content>
